---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


$top-offset: 3em;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "author-bottom"; // bottom author styles

.sidebar__image {
  display: table-cell;
  vertical-align: top;
  width: 36px;
  height: 36px;

  @include breakpoint($large) {
    display: block;
    width: auto;
    height: auto;
  }

  img {
    max-width: 110px;

    @include breakpoint($large) {
      padding: 5px;
    }
  }
}

.summary {
  display: none;

  @include breakpoint($large) {
    display: inherit;
  }
}

p>code, li>code {
  background-color: #f3ecee!important;
  color: #c7254e;
}

.masthead {
  position: fixed;
  top: 0;
  width: 100%;
  background: #f2f3f3;  // set a color to hide content that may appear below masthead

  @media (min-width: 48em) {
    .masthead {
      height: $top-offset;  // need a magic number here which may break in different viewports
    }
    .masthead__inner-wrap {
      padding: 0.5em;
    }
  }
}

.masthead__inner-wrap {
  padding: 0em 0em 0em 0.5em;
}

body {
  padding: #{$top-offset - 1} 0 0;  // padding-top equal to masthead height or greater
}

@media (min-width: 48em) {
  body {
    padding: $top-offset 0 0;  // padding-top equal to masthead height or greater
  }
}

@media (min-width: 64em) {
  .sidebar__right.sticky {
    top: #{$top-offset+2};
    float: right;
  }
}

.greedy-nav {
  background: #f2f3f3;
}

.sticky {
  top: $top-offset;
}

html {
  font-size: 14px;

  @include breakpoint($medium) {
    font-size: 16px;
  }

  @include breakpoint($large) {
    font-size: 18px;
  }

  @include breakpoint($x-large) {
    font-size: 20px;
  }
}

.page__footer-links {
  font-family: $global-font-family;
  font-size: $type-size-7;
  text-align: right;
  a {
    padding: 0 1em;
  }
}

.archive__item-title {
  a {
     color: inherit;
   }
}

.archive__subtitle {
  padding-top: $top-offset;
}

.toc {
  margin-bottom: 1em;
}

ins.adsbygoogle {
  border-bottom: none !important;
}

// more button colors
.btn {
  /* button colors */
  $buttoncolors:
  (reddit, $reddit-color),
  (tumblr, $tumblr-color),
  (xing, $xing-color),
  (github, $github-color),
  (gitlab, $gitlab-color);

  @each $buttoncolor, $color in $buttoncolors {
    &--#{$buttoncolor} {
      @include yiq-contrasted($color);
      @if ($buttoncolor == inverse) {
        border: 1px solid $border-color;
      }
      @if ($buttoncolor == light-outline) {
        border: 1px solid #fff;
      }

      &:visited {
        @include yiq-contrasted($color);
      }

      &:hover {
        @include yiq-contrasted(mix(#000, $color, 20%));
      }
    }
  }
}

// bigger social icons
.btn > .fa-fw {
  height: 1.5em;
  vertical-align: -.375em;
}
